@model InsuranceCompany.WebApp.Models.Risk.RiskVM

@{
    ViewData["Title"] = "Create Risk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Risk</h3>

<div class="container">
    <div class="row">
        <div class="col-7">
            <form method="post" asp-controller="Risks" asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Name" class="col-lg-3 col-form-label form-control-label">Name</label>
                    <div class="col-lg-9">
                         <input 
                            class="form-control" 
                            asp-for="Name" 
                            type="text"
                            required  
                            oninvalid="setCustomValidity('!!!!')"  
                            oninput="setCustomValidity('')">             
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Description" class="col-lg-3 col-form-label form-control-label">Description</label>
                    <div class="col-lg-9">
                        <textarea 
                            class="form-control" 
                            asp-for="Description" 
                            type="text"
                            required  
                            oninvalid="setCustomValidity('!!!!')"  
                            oninput="setCustomValidity('')">
                        </textarea>            
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AverageProbability" class="col-lg-3 col-form-label form-control-label">Average Probability</label>
                    <div class="col-lg-9">
                        <input class="form-control" 
                            asp-for="AverageProbability"
                            type="number"
                            required
                            oninvalid="setCustomValidity('!!!!')"  
                            oninput="setCustomValidity('')">      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Risks")'">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
