@page "/employees/create/"

@using Lab6.WebApplication.Models.Enums
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Lab6.WebApplication.Models

<PageTitle>Employee creating</PageTitle>
<h1>Employee create</h1>
<EditForm EditContext="editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-control">
        <label class="form-label" for="Email">Email</label>
        <InputText class="input-group" id="Email" @bind-Value="employee.User.Email" /><br />
    </div>
     <div class="form-group">
        <label for="typeOfPost">TypeOfPost</label>
        <InputSelect id="typeOfPost" @bind-Value="@employee.TypeOfPost">
            @foreach (var post in Enum.GetValues(typeof(PostType)))
            {
                <option value="@post">@post</option>
            }
        </InputSelect><br />
        <ValidationMessage For="@(() => employee.TypeOfPost)" />
    </div>

    <div class="form-control">
        <label class="form-label" for="Experience">Experience</label>
        <InputNumber class="input-group" id="Experience" @bind-Value="employee.Experience" /><br />
    </div>

    <button type="submit" @onclick="EmployeeCreate">Create</button>

</EditForm>

@functions
{
    private EditContext editContext;
    private Employee employee { get; set; } = new Employee
        {
            User = new User { Email = "email@gmail.com" },
            TypeOfPost = 0,
            Experience = 10
        };

    protected async override Task OnInitializedAsync()
    {
        editContext = new EditContext(employee);
    }

    private async Task EmployeeCreate()
    {
        if (editContext.Validate())
        {
            await Http.PostAsJsonAsync("api/employees/", employee);
            string message = "Employee was successfully created";
            NavigationManager.NavigateTo($"/employees/successpage/{message}");
        }
    }
    private void ToEmployeeList()
    {
        NavigationManager.NavigateTo("/employees");
    }
}

