@page "/employees/successpage/{message}"
@inject NavigationManager NavigationManager

<PageTitle>Success page</PageTitle>
<h1>@Message</h1>

<button @onclick="ToEmployyList">Back</button>

@functions {
    [Parameter]
    public string Message { get; set; }

    private void ToEmployyList()
    {
        NavigationManager.NavigateTo("/employees");
    }
}
