@model InsuranceCompany.Data.Internal.Entities.Client

@{
    ViewData["Title"] = "Client Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model == null)
{
   <h1>Client infromation was not found</h1>
}
else
{
    <h1>Client Details @Model.FirstName</h1>   
}